body{
    background-color: blanchedalmond;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;


}



p{
    color: brown;
    font-size: larger;
    margin-left: 20px;
    border: black;
}



img{

}



h1{
    Color: red;
    border-bottom: blue;
    font-size: 16px;
    text-transform: uppercase;

}

a:link{
    Color:red;
}
a:hover{
    Color:blue;
}

img{
    border:red;
    padding:10px;
    width: 250;
    opacity: 0.5;

}



h2{
    Color: red;
}