body{
    background-color: blanchedalmond;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;


}



p{
    color: brown;
    font-size: larger;
    margin-left: 20px;
    border: black;
}



img{

}



h1{
    Color: blue;

}



h2{
    Color: red;
}