body{
    background-color: blanchedalmond;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;


}



p{
    color: brown;
    font-size: larger;
    margin-left: 20px;
    border: black;
}



img{

}



h1{
    Color: red;
    border-bottom: blue;
    font-size: 16px;
    text-transform: uppercase;

}

link{
    
}

h2{
    Color: red;
}